<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>topmanu</title>
  <link rel="stylesheet" href="/public/top.css">
</head>
<body>
  <div id="container">
  <p>
  <div class="main"><h1 class = "white">グルメサイト</h1>
 <a href="/public/insertShop.html">店舗追加</a>
<a href="/public/surchShop.html">店舗検索</a></div>
  </p>
</div>
</body>
</html>